<form (ngSubmit)="onSubmit()" #companyForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      class="form-control"
      type="text"
      id="name"
      name="name"
      ngModel
      required
      #name="ngModel"
    />
    <span class="help" *ngIf="name.invalid && name.touched">This field is required</span>

  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input
      class="form-control"
      type="text"
      id="address"
      name="address"
      ngModel
      required
      #address="ngModel"
    />
    <span class="help" *ngIf="address.invalid && address.touched">This field is required</span>
  </div>
  <div class="btn-group">
    <button
      class="btn"
      type="submit"
      [disabled]="companyForm.invalid"
    >
      {{ editMode ? "Update" : "Add" }}
    </button>
    <button
      *ngIf="editMode"
      class="btn btn--danger"
      type="button"
      (click)="onDelete()"
    >
      Delete
    </button>
  </div>
</form>
<hr>

<div *ngIf="contacts && contacts.length">
  <h3>Contacts:</h3>
  <div class="contact" *ngFor="let contact of contacts">
    <a [routerLink]="['/contacts', contact.id]">
      {{contact.name}} {{contact.lastname}}, {{contact.position}}, phone: {{contact.phone}}
    </a>
  </div>
</div>