<form (ngSubmit)="onSubmit()" [formGroup]="companyForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      class="form-control"
      type="text"
      id="name"
      formControlName="name"
    />
    <span class="help" *ngIf="companyForm.get('name').invalid && companyForm.get('name').touched">This field is required</span>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input
      class="form-control"
      type="text"
      id="address"
      formControlName="address"
    />
    <span class="help" *ngIf="companyForm.get('address').invalid && companyForm.get('address').touched">This field is required</span>
  </div>

  <div formArrayName="contacts">
    <div class="form-group">
      <label>Contacts</label>
      <div
        class="select-group"
        *ngFor="let ingridientControl of getContactsControls(); let i = index"
      >
        <select
          class="form-control"
          [formControlName]="i"
        >
          <option *ngFor="let c of allContacts" [ngValue]="c.id">{{c.name}} {{c.lastname}}</option>
        </select>
        <div class="btn-group">
          <a class="btn" [routerLink]="['/contacts', ingridientControl.value]">
            Edit
          </a>
          <button class="btn btn--danger" type="button" (click)="onDeleteContact(i)">
            X
          </button>
        </div>
      </div>
      <button class="btn btn--warning" type="button" (click)="onAddContact()">
        Add Contact
      </button>
    </div>
  </div>

  <hr>

  <div class="btn-group">
    <button
      class="btn"
      type="submit"
      [disabled]="companyForm.invalid || companyForm.pristine && !contactsChanged"
    >
      {{ editMode ? "Update" : "Add" }}
    </button>
    <button
      *ngIf="editMode"
      class="btn btn--danger"
      type="button"
      (click)="onDelete()"
    >
      Delete
    </button>
  </div>
</form>
