.notification-container {
  position: fixed;
  z-index: 1500;
  width: min(25%, 300px);
  right: 1rem;
  bottom: 1rem;
  user-select: none;
}

.notification {
  margin: 10px;
  line-height: inherit;
  padding: 16px;
  box-shadow: 2px 2px 5px black;
  border-radius: 4px;

  &__header {
    margin-bottom: 8px;
    font-weight: bold;
  }

  &--success {
    background-color: green;
  }

  &--warning {
    background-color: orange;
    color: #333;
  }

  &--error {
    background-color: red;
  }
}
